html, body {margin:0;padding:0}
body {background-color:#EEF4F7;color:#4987AA}
html, body, input, button, textarea {font-family:Arial, Helvetica, sans-serif;font-size:15px}
a {color:inherit}
h1, h2, h3 {font-weight:normal;padding:0 0 10px;margin:0}
h1 {font-size:2em}
h2 {font-size:1.5em}
h3 {font-size:1.2em}
p {padding:0 0 20px;margin:0}

/* header */
header {display:flex;align-items:center;column-gap:10px;background-color:#ffffff;padding:10px 30px}
    .hdr_mob_nav {width:30px;height:26px;padding:2px 0;cursor:pointer}
        .hdr_mob_nav span {display:block;width:20px;height:2px;background-color:#4987AA;margin:5px;border-radius:2px}
    .hdr_title {font-size:2em}
        .hdr_title a {text-decoration:none}
    .hdr_cart {display:flex;align-items:center;column-gap:10px;margin:0 0 0 auto}
        .hdr_cart span:first-of-type {display:flex;align-items:center;justify-content:center;width:30px;height:30px;background-color:#EEF4F7;border-radius:50%;font-size:12px;margin:0 0 0 auto}
            .hdr_cart a {text-decoration:none}

/* mobile nav */
.mob_nav {position:fixed;z-index:2;top:0;left:0;transition:0.5s;width:min(100%,400px);height:100vh;background-color:#ffffff;box-shadow:0 0 5px rgba(0,0,0,0.5)}
.mob_nav.mn_closed {left:-100%;pointer-events:none}
    .mob_nav_hdr {display:flex;align-items:center;column-gap:3px;margin:15px;height:35px}
       a.mob_nav_close {padding:10px;line-height:1;font-size:20px;cursor:pointer;margin:0 0 0 auto;text-decoration:none;color:#4987AA} 
    .mob_nav_scr {position:absolute;top:65px;left:0;width:calc(100% - 30px);height:calc(100% - 80px);margin:0 15px;overflow:auto}
        .mob_nav_scr ul {list-style-type:none;margin:0;padding:0}
            .mob_nav_scr li {margin:0;padding:0}
            .mob_nav_scr li:nth-child(even) {background-color:#EEF4F7}
                .mob_nav_scr a:not(.mob_nav_chevron) {display:flex;align-items:center;height:40px;padding:0 40px 0 10px;text-decoration:none}
            .mob_nav_scr > nav > ul > li {position:relative}
                .mob_nav_chevron {position:absolute;top:0;right:0;display:block;width:40px;height:40px}
                    .mob_nav_chevron span {position:absolute;top:50%;left:50%;border-style:solid;border-width:0.25em 0.25em 0 0;content:'';display:inline-block;height:0.45em;width:0.45em;margin:-3px 0 0;transform:translate(-50%,-50%) rotate(135deg)}
                    .mob_nav_chevron_open span {transform:translate(-50%,-50%) rotate(-45deg);margin:1px 0 0}
                .mob_nav_scr > nav > ul li > div {height:0;overflow:hidden}
                    .mob_nav_scr > nav > ul ul {padding:0 0 20px}

/* desktop nav */
.dkt_nav {justify-content:center;background-color:#2E6D90}
    .dkt_nav ul {list-style-type:none;padding:0}
        .dkt_nav a {text-decoration:none;white-space:nowrap}
    .dkt_nav > nav > ul {display:flex;flex-wrap:wrap;margin:0 30px}
        .dkt_nav > nav > ul > li {position:relative}
            .dkt_nav > nav > ul > li > a {display:flex;align-items:center;color:#ffffff;padding:0 15px;height:40px}
            .dkt_nav > nav > ul > li:hover > a {background-color:#4987AA}
            .dkt_nav ul ul {position:absolute;z-index:1;top:100%;left:0;background-color:#ffffff;border:solid 3px #4987AA}
            .dkt_nav > nav > ul > li:not(:hover) ul {display:none}
                .dkt_nav ul ul a {display:block;padding:10px 15px;color:inherit}
                .dkt_nav ul ul a:hover {background-color:#EEF4F7}

/* links */
a.nav_blue {padding:10px;border-radius:2px;text-decoration:none;background-color:#2E6D90;color:#ffffff}
a.nav_blue:hover {background-color:#367699}

/* disabled links (spans) */
span.blue_disabled {display:block;text-decoration:none;background-color:#C8D9E2;color:#ffffff;padding:10px;border-radius:2px}

/* buttons */
.btn_blue {padding:10px;border-radius:4px;background-color:#2E6D90;color:#ffffff;border:0;cursor:pointer}
.btn_blue:hover {background-color:#367699}

.pageTitasssle {width:90%;margin:0 auto;padding:0 0 20px;text-align:center}

/* error msg */
.error_msg {position:relative;background-color:#FF8400;box-shadow:0 0 3px rgba(255,132,0,0.5);color:#ffffff;margin:0 0 20px;padding:10px;border-radius:4px 4px 4px 0}
    .error_msg span {position:absolute;bottom:-10px;left:0;width:0;height:0;border-left:10px solid #FF8400;border-bottom:10px solid transparent}

/* items */
#page_items {display:flex;column-gap:4%;row-gap:5vh;flex-wrap:wrap}
    .no-items {text-align:center}
    .item {position:relative;width:calc(22% - 2px);text-align:center;background-color:#ffffff;border:solid 1px #ffffff}
    .item:hover {border-color:#4987AA}
        .item_no_img, .item_img {height:0;padding:0 0 100%;margin:0 0 10px}
        .item_img {position:relative;overflow:hidden}
            .item_img img {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);max-width:100%;max-height:100%;display:block}
        .item_no_img {background-image:url("imgs/no_img.gif");background-repeat:no-repeat;background-size:cover}
        .item h3 {padding:0 10px 10px}
        .item p {padding:0 10px 20px;margin:0}
        .item a {position:absolute;z-index:1;top:0;left:0;display:block;width:100%;height:100%}

/* page header */
#page_header {text-align:center;border-bottom:solid 2px #ffffff}
    .bread_crumbs ul {list-style-type:none;margin:0;padding:0;display:flex;justify-content:center;column-gap:5px;font-size:12px}
        .bread_crumbs li {margin:0;padding:0}

#page_item {display:flex;column-gap:5%;row-gap:6vh}

#page_header, #page_item, #page_items, #cart_items, #cart_totals, #order_complete, #cart_btn, #sub_cats {width:min(90%,calc(40% + 600px));margin:0 auto;padding:3vh 0}
#cart_btn {padding:0 0 3vh 0}
#cart_totals {display:flex;justify-content:right}
    .cart_totals_right p {text-align:right}
#checkout {width:min(90%,calc(15% + 400px));margin:0 auto;padding:0 0 3vh 0}
    .form_btn {display:flex;justify-content:right}
    #checkout .form_btn {padding:3vh 0 0}
#sub_cats {display:flex;flex-wrap:wrap;column-gap:20px;row-gap:20px}

/* sub cat links */
#sub_cats a {display:flex;align-items:center;justify-content:center;width:calc(20% - 56px);height:60px;padding:0 20px;border-radius:10px;background-color:#2E6D90;color:#ffffff;text-decoration:none}
#sub_cats a:hover {background-color:#4987AA}

/* item gallery */
.item_gallery {width:45%}
    .item_gallery_pnl {position:relative;margin:0 0 3vh;width:100%;height:0;padding:0 0 100%;background-color:#ffffff}
        .item_gallery_loader {position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;background-color:#ffffff;opacity:0;transition:opacity 0.2s}
        .gallery_loader_ani {opacity:1;transition:opacity 0s}
        .item_gallery_pnl ul {position:absolute;z-index:0;top:0;left:0;width:100%;height:100%;list-style-type:none;padding:0;margin:0}
            .item_gallery_pnl li {position:absolute;top:0;left:0;width:100%;height:100%;padding:0;margin:0;display:flex;align-items:center;justify-content:center;overflow:hidden;background-color:#ffffff;opacity:0}
            li.li_selected {opacity:1}
                .item_gallery_pnl img {max-width:100%;max-height:100%;display:block}
                .item_gallery_caption {position:absolute;bottom:0;left:0;padding:10px;width:calc(100% - 20px);color:#ffffff;background-color:rgba(0,0,0,0.5)}

    .item_gallery_thumbs ul {display:flex;column-gap:10px;flex-wrap:wrap;list-style-type:none;padding:0;margin:0}
        .item_gallery_thumbs li {position:relative;width:calc(20% - 8px);height:0;padding:0 0 calc(20% - 8px);margin:0;background-color:#ffffff;overflow:hidden}
            .item_gallery_thumbs img {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);max-width:100%;max-height:100%;display:block}

/* item details */
.item_details {width:50%}
    .shop_form {background-color:#ffffff;padding:20px;border-radius:10px;margin:3vh 0}
        .shop_form p {display:flex;align-items:center;column-gap:10px;margin:0 0 10px;padding:0}
        .shop_form p:last-of-type {justify-content:flex-end;margin:0}
            .shop_form p label {width:150px}
            .shop_form p > span {width:calc(100% - 160px)}
                .shop_form p input[type=text], .shop_form p input[type=number], .shop_form select {border:solid 1px #AFCAD9;transition:border 0.1s;background-color:#ffffff;outline:none}
                .shop_form p input[type=text], .shop_form p input[type=number] {width:calc(100% - 22px);padding:0px 10px;height:33px}
                .shop_form select {height:35px;padding:0 5px}
                .shop_form p input[type=text]:hover, .shop_form p input[type=number]:hover, .shop_form select:hover {border:solid 1px #4987AA;box-shadow:0 0 3px rgba(175,202,217,1)}
                .shop_form p input[type=text]:focus, .shop_form p input[type=number]:focus {border:solid 1px #4987AA;background-color:#F5F9FB}

    .item_desc {padding:20px;border-radius:10px;background-color:#2E6D90;color:#ffffff;margin:3vh 0}
        .item_desc h2 {border-bottom:solid 1px #4987AA;padding:0 0 7px;margin:0 0 8px}

    .item_price {font-size:2em;padding:0 0 10px}
    .item_meta {font-size:12px}

    .item_extra_desc {background-color:#ffffff;padding:20px;border-radius:10px;margin:3vh 0}
    .category_desc {background-color:#ffffff;padding:20px;border-radius:10px;margin:2vh 0 0;text-align:left}
    .white_para {background-color:#ffffff;padding:20px;border-radius:10px;text-align:center}

/* cart */
#cart_items {border-bottom:solid 2px #ffffff}
    #cart_items ul {list-style-type:none;padding:10px;margin:0;display:flex;column-gap:10px;align-items:center}
    #cart_items ul:nth-child(odd) {background-color:#ffffff}
        #cart_items li {padding:0;margin:0}
        #cart_items li:first-child {width:calc(100% - 240px)}
        #cart_items li:nth-child(2) {width:40px;text-align:center}
        #cart_items li:nth-child(3), #cart_items li:nth-child(4) {width:70px;text-align:right}
        #cart_items li:last-child {width:20px;text-align:center}
            #cart_items li a {color:#DC0000;font-size:18px;line-height:1;text-decoration:none}

.cart_totals_right p:last-of-type {padding:0}

@media only screen and (orientation:landscape) and (pointer:fine) and (min-width:1201px) {
    .mob_nav, .hdr_mob_nav {display:none}
    .dkt_nav {display:flex}
}
@media only screen and (pointer:coarse), only screen and (orientation:portrait), only screen and (orientation:landscape) and (pointer:fine) and (max-width:1200px) {
    header {padding:10px 30px}
    .dkt_nav {display:none}
    #page_items {width:90%;column-gap:5%}
        .item {width:calc(30% - 2px)}
    #sub_cats {column-gap:21px;row-gap:21px}
    #sub_cats a {width:calc(33.3% - 54px)}
}
@media only screen and (pointer:coarse) and (max-width:900px), only screen and (orientation:portrait) and (max-width:900px) {
    #page_item {flex-direction:column}
    .item_gallery, .item_details {width:100%}
}





@media only screen and (pointer:coarse) and (max-width:600px), only screen and (orientation:portrait) and (max-width:600px) {
    header {padding:10px 5vw}
    .hdr_title {font-size:1.5em}

    #page_items {width:90%;column-gap:10%}
        .item {width:calc(45% - 2px)}

    .shop_form p {flex-direction:column;row-gap:8px;align-items:flex-start}
    .shop_form p label, .shop_form p > span {width:100%}
    .shop_form p input[type=text], .shop_form p input[type=number] {width:calc(100% - 22px)}
    .shop_form select {width:100%}
    .btn_blue, .nav_blue, .blue_disabled {width:100%;text-align:center}

    #cart_items li:first-child {width:calc(100% - 160px)}
    #cart_items li:nth-child(3) {display:none}
    #sub_cats {column-gap:20px;row-gap:20px}
    #sub_cats a {width:calc(50% - 50px)}
}